<nav class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <div class="profile-image">
        <img src="assets/images/Keith-Stedman.jpg">
      </div>
    </div>
    <div class="profile-about col-xs-12 col-sm-12 col-md-12 col-lg-8">
      <h1 class="profile-title col-xs-12">
        Keith Stedman
        <span class="col-xs-12">Front-End UI/UX Developer</span>
      </h1>
      <div class="profile-contact col-xs-12 col-sm-12 col-md-4 col-lg-12 col-xl-4">
        <h3 class="hidden-xs">Contact</h3>
        <div class="contact-icon profile-phone">
          <a href="tel:503-504-5709">
            <i class="fa fa-phone"></i>
            <span class="hidden-xs">503.504.5709</span>
          </a>
        </div>
        <div class="contact-icon">
          <a href="mail:keithstedman@gmail.com">
            <i class="fa fa-envelope-o"></i>
            <span class="hidden-xs">keithstedman@gmail.com</span>
          </a>
        </div>
        <div class="contact-icon">
          <a href="https://github.com/bitgrind" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
            <span class="hidden-xs">Github</span>
          </a>
        </div>
        <div class="contact-icon">
          <a href="https://www.linkedin.com/in/keith-stedman/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <span class="hidden-xs">Linked In</span>
          </a>
        </div>
      </div>
      <div class="profile-skills col-xs-12 col-sm-12 col-md-8 col-xl-8">
        <h3>Languages</h3>
        <div class="col-xs-12 col-md-12">
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
            <img class="lang-icon" src="assets/images/html5.png"></a>
            <span>HTML5</span>
          </span>
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
            <img class="lang-icon" src="assets/images/js-logo.png"></a>
            <span>JavaScript ES6</span>
          </span>
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
            <img class="lang-icon" src="assets/images/css-logo.png"></a>
            <span>CSS3</span>
          </span>
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://gulpjs.com/" target="_blank">
              <img class="lang-icon" src="assets/images/gulp-logo.png">
            </a>
            <span>Gulp</span>
          </span>
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://gruntjs.com/" target="_blank">
            <img class="lang-icon" src="assets/images/grunt-logo.png"></a>
            <span>Grunt</span>
          </span>
        </div>
        <div class="col-xs-12 col-md-12">
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://cli.angular.io/" target="_blank">
            <img class="lang-icon" src="assets/images/angular-icon.png">
            </a>
            <span>Angular2 Cli</span>
          </span>
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://reactjs.net/" target="_blank">
            <img class="lang-icon" src="assets/images/react-icon.png"></a>
            <span>React</span>
          </span>
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://nodejs.org/en/" target="_blank">
            <img class="lang-icon" src="assets/images/node-logo.png"></a>
            <span>Node</span>
          </span>
          <span class="firebase-icon" class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="https://firebase.google.com/" target="_blank">
            <img class="lang-icon" src="assets/images/firebase-logo.png"></a>
            <span>Firebase</span>
          </span>
          <span class="col-xs-2 col-md-2">
            <a class="lang-icon-links" href="http://sass-lang.com/" target="_blank">
            <img class="lang-icon" src="assets/images/sass-logo.png"></a>
            <span>SASS</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Main Body Portfolio</h1>
    </div>
    <div id="resume" class="col-12 row">
      <h1 class="col-12">Resume</h1>
      <div class="col-8">
        <h2>Experience</h2>
      </div>
      <div class="col-4">
        <h2>Education</h2>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear">
    <h1>Past Experience</h1>
    <!-- <div class="past-experience well col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="past-experience-logo">
            <img src="assets/images/epicodus-logo.png">
          </div>
          <h2>Epicodus</h2>
          <h3>2017</h3>
        </div>
        <div class="projects row col-md-12">
          <div class="epicodus-project col-md-6">
            <h3>Vacation Desination</h3>
            <a href="https://github.com/bitgrind/vacay" target="_blank"></a>
            <p>This is a small experimental site using Bootstrap to get familiar with the platform. Languages: HTML, CSS &amp; Bootstrap.</p>
          </div>
          <div class="epicodus-project col-md-6">
            <h3>Wiki Mock</h3>
            <a href="https://github.com/bitgrind/wiki" target="_blank"></a>
            <p>A short exercise is mimicking web pages, using Bootstrap to imitate a partiular sites design. Languages: HTML, CSS &amp; Bootstrap</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="past-experience well col-md-12">
      <div class="past-experience-logo">
        <img class="logo" src="assets/images/rose-city-vinyl.png">
      </div>
      <h2>Rose City Vinyl</h2>
      <h3>2015-2017</h3>
    </div>
    <div class="past-experience well col-md-12">
      <div class="past-experience-logo">
        <img class="logo" src="assets/images/ds-logo-blog.png">
      </div>
      <h2>Dealer Spike</h2>
      <h3>2014-2015</h3>
    </div>
    <div class="past-experience well col-md-12">
      <div class="past-experience-logo">
        <img class="logo" src="assets/images/stedman-for-senate-logo.png">
      </div>
      <h2>Stedman for Senate</h2>
      <h3>2012, 2016</h3>
    </div>
    <div class="past-experience well col-md-12">
      <div class="past-experience-logo">
        <img class="logo" src="assets/images/digital-arts.png">
      </div>
      <h2>University of Oregon BFA Program at White Stag</h2>
      <h3>2012</h3>
    </div>
    <div class="past-experience well col-md-12">
      <div class="past-experience-logo">
        <img class="logo" src="assets/images/HiveLogo.gif">
      </div>
      <h2>Hive Interactive</h2>
      <h3>2011</h3>
    </div>
    <div id="CMET" class="past-experience well col-md-12">
      <div class="past-experience-logo">
        <img class="logo" src="assets/images/uo-long-logo.png">
      </div>
      <h2>University of Oregon Library Center for Media and Education Techonogly</h2>
      <h3>2010-2011</h3>
    </div>
    <div class="past-experience well col-md-12">
      <div class="past-experience-logo">
        <img class="logo" src="assets/images/uo-logo.png">
      </div>
      <h2>University of Oregon Althletic Department</h2>
      <h3>2009-2010</h3>
    </div>
  </div>
</main>
<footer class="container">
  <h1>Footer</h1>
</footer>