<nav class="container">
  <div class="row">
    <div class="col-3">
      <div class="profile-image">
        <img src="../../assets/images/Keith-Stedman.jpg">
      </div>
    </div>
    <h1>Portfolio3 gh push</h1>
    <div class="profile-about col-9">
      <h1 class="profile-title">
        Keith Stedman
        <span>- Front-End UI/UX Developer</span>
      </h1>
      <div class="row">
        <div class="profile-contact col-4">
          <h3>Contact</h3>
          <div class="profile-phone">
            <a href="tel:503-504-5709">
              <i class="fa fa-phone"></i>
              <span>503.504.5709</span>
            </a>
          </div>
          <div>
            <a href="mail:keithstedman@gmail.com">
              <i class="fa fa-envelope-o"></i>
              <span>keithstedman@gmail.com</span>
            </a>
          </div>
          <div>
            <a href="https://github.com/bitgrind" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i>
              <span>Github</span>
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/keith-stedman/" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              <span>Linked In</span>
            </a>
          </div>
        </div>
        <div class="profile-skills col-8">
          <div class="">
            <h3>Languages</h3>
            <span class="col-md-2 col-xs-6">
              <span>HTML5</span>
              <img class="lang-icon" src="/assets/images/html5.png">
            </span>
            <span class="col-md-2 col-xs-6">
              <span>JavaScript</span>
              <img class="lang-icon" src="/assets/images/js-logo.png">
            </span>
            <span class="col-md-2 col-xs-6">
              <span>CSS3</span>
              <img class="lang-icon" src="/assets/images/css-logo.png">
            </span>
            <span id="php" class="col-md-2 col-xs-6">
              <span>PHP</span>
              <img class="lang-icon" src="/assets/images/php-logo.png">
            </span>
            <span id="mysql" class="col-md-2 col-xs-6">
              <span>MySQL</span>
              <img class="lang-icon" src="/assets/images/mysql-logo.png">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<main class="container">
  <div class="row">
    <div class="col-12">
      <h1>Main Body Portfolio</h1>
    </div>
    <div id="resume" class="col-12 row">
      <h1 class="col-12">Resume</h1>
      <div class="col-8">
        <h2>Experience</h2>
      </div>
      <div class="col-4">
        <h2>Education</h2>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<footer class="container">
  <h1>Footer</h1>
</footer>